.cardContainer {
    height: 100vh;
    width: 100%;
    padding-bottom: 3vh;
}

.loadingBar {
    margin-top: 5px;
    height: 1vh;
    width: 100%;
    background-color: white;
    border: solid 1px blue;
    border-radius: 20px;
}

.loadingBarState {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, rgba(0, 135, 2) 0%, rgb(0, 174, 3) 10%, rgb(0, 115, 255) 100%);
    border-radius: 20px;
}

.cardSection {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questionsButton {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.questionsButton button {
    height: 80%;
    width: 250px;
    border-radius: 60px;
    font-size: xx-large;
    background: linear-gradient(45deg, rgb(0, 135, 2) 0%, rgb(0, 174, 3) 10%, rgb(0, 115, 255) 100%);
    border: black 2px solid;
    color: white;
}

.questionsButton button:active {
    box-shadow: inset 0px 0px 50px rgb(255, 255, 255);
}

.messageError {
    margin-top: 2%;
    display: flex;
    color: red;
    width: 50%;
    height: 5%;
    border: solid 1px red;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    animation: blinkingError 2s infinite;
}

.noMessageError {
    margin-top: 2%;
    width: 50%;
    height: 5%;
}

@keyframes blinkingError {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgba(255, 0, 0, 0.811);
        color: white;
    }
    100% {
        background-color: white;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .questionsButton button {
        height: 50px;
        width: 160px;
        border-radius: 40px;
        font-size: x-large;
        border: black 1px solid;
    }

    .messageError {
        width: 70%;
        height: 6%;
        font-size: 20px;
    }

    .noMessageError {
        width: 70%;
        height: 6%;
    }

    .loadingBar {
        width: 96%;
        margin: 0 auto;
        margin-top: 5px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .messageError {
        width: 70%;
        font-size: 20px;
    }

    .noMessageError {
        width: 70%;
    }

    .loadingBar {
        width: 96%;
        margin: 0 auto;
        margin-top: 5px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
