.startingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.title{
    width: 100%;
    height: 40%;
}

.planetGif{
    width: 100%;
    height: 40%;
    object-fit: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.planetGif img{
 height: 100%;

 object-fit: contain;
}